#HeaderMain {
  position: fixed;
  width: 100vw;
  max-height: 10vh;
  z-index: 1000;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;

  #Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #949494;

    #HeaderLogo {
      display: flex;
      align-items: center;
      margin-left: 2vw;
      height: 7.5vh;
      margin-top: 2.25vh;
      margin-bottom: 2.25vh;
      cursor: pointer;
    }

    #ButtonContainer {
      display: flex;
      align-items: center;
      margin-right: 2vw;
      height: 7.5vh;
      margin-top: 2vh;
      margin-bottom: 2vh;

            .HeaderButton {
                display: flex;
                align-items: center;
                margin-left: 2vw;
                height: 7.5vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
                cursor: pointer;
                text-decoration: none;

                h1 {
                    font-size: 1.5em;
                    margin-left: 1vw;
                    margin-right: 1vw;
                    font-weight: 100;
                    color: black;
                    transition: color 0.25s ease-in-out;
                }

                h1::after {
                    content: "";
                    display: block;
                    position: relative;
                    bottom: -1.25vh;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: #ff4800;
                    transition: width 0.25s ease-in-out;
                }

                h1:hover {
                    color: #ff4800;
                    transition: color 0.25s ease-in-out;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
