#HeaderMain {
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 1000;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;

  #Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    #HeaderLogo {
      display: flex;
      align-items: center;
      margin-left: 2vw;
      height: 7.5vh;
      margin-top: 2vh;
      margin-bottom: 2vh;
      cursor: pointer;
    }

    #ButtonContainer {
      display: flex;
      align-items: center;
      margin-right: 2vw;
      height: 7.5vh;
      margin-top: 2vh;
      margin-bottom: 2vh;

      .HeaderButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: black;
        font-size: 1.5em;
        margin-left: 1vw;
        margin-right: 1vw;
        font-weight: 100;
        display: inline;
        position: relative;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          background-color: orange;
          height: 2px;
          width: 0;
          left: 0;
          bottom: -10px;
          transition: 0.3s;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}
