#footer {
    width: 150vw;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    background-color: rgba(223, 223, 223, 0.443);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    align-items: center;
    

    #container {
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-content: center;
    }
}