#header {
    position: fixed;
    width: 100vw;
    height: 12vh;
    top: 0;
    opacity: 1;
    transform: translateY(-12vh);
    transition: transform 0.5s ease-in-out;
    z-index: 100000;

    #HeaderMain {
        position: fixed;
        width: 100vw;
        height: fit-content;
        z-index: 1000;
        top: 0;
        left: 0;
        font-family: "Montserrat", sans-serif;
        opacity: 1 !important;
        background-color: rgba(255, 255, 255, 0.95);

        #Header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #HeaderLogo {
                display: flex;
                align-items: center;
                margin-left: 2vw;
                height: 7.5vh;
                margin-top: 2.25vh;
                margin-bottom: 2.25vh;
                cursor: pointer;
            }

            #ButtonContainer {
                display: flex;
                align-items: center;
                margin-right: 2vw;
                height: 7.5vh;
                margin-top: 2vh;
                margin-bottom: 2vh;

                .HeaderButton {
                    display: flex;
                    align-items: center;
                    margin-left: 2vw;
                    height: 7.5vh;
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    cursor: pointer;
                    text-decoration: none;

                    h1 {
                        font-size: 1.25em;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 300 !important;
                        font-style: normal;
                        margin-left: 1vw;
                        margin-right: 1vw;
                        font-weight: 100;
                        color: black;
                        transition: color 0.25s ease-in-out;
                    }

                    h1::after {
                        content: "";
                        display: block;
                        position: relative;
                        bottom: -1.25vh;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: #ff4800;
                        transition: width 0.25s ease-out;
                    }

                    h1:hover,
                    .active {
                        color: #ff4800;
                        transition: color 0.25s ease-in-out;

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &.header_active {
        transform: translateY(0);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    
        &::after {
            width: 100%;
        }
    }

    &.header_hide {
        transform: translateY(-12vh) !important;
        transition: all 0.5s ease-in-out;
    }
}