#about {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: max-content;
    padding-top: 12vh;
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    justify-content: center;

    #container {
        display: flex;
        flex-direction: inherit;
        align-items: center;
        width: 80vw;
        justify-content: space-around;

        #left {
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 45vw;
            height: 90vh;
            justify-content: center;
            align-items: flex-start;
        }

        #right {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 90vw;
            justify-content: center;

            #top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                width: 100%;
                margin-bottom: 1vh;

                #title {
                    font-size: 3vw;
                    font-family: "archivo", sans-serif;
                    font-weight: bold;
                    margin-bottom: 2vh;
                }

                #description {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 45vw;
                    font-size: 1.2vw;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    color: rgb(107 111 146);
                }
            }

            #bottom {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                width: 100%;
                margin-bottom: 5vh;

                .about_org {
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    background-color: rgb(247, 247, 247);
                    width: 40vw;
                    border-radius: 20px;
                    font-family: "poppins", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    padding-left: 4vw;
                    font-size: 1vw;
                    transition: height 0.5 sease-in-out;

                    .about_title {
                        font-size: 1.25vw;
                        font-weight: 400;
                        margin-top: 2vh;
                        margin-bottom: 2vh;
                    }

                    .about_desc_holder {
                        flex-direction: column;
                        justify-content: space-between;
                        color: rgb(107 111 146);
                        overflow-y: hidden;
                        transition: all 0.5s ease-in-out;

                        &.active {
                            transition: all 0.5s ease-in-out;
                        }
                        
                        a {
                            color: rgb(13 110 253);
                            transition: color ease-in-out 0.2s;

                            &:hover {
                                transition: color ease-in-out 0.2s;
                                color: rgb(255 52 8);
                            }
                        }
                    }
                }
            }
        }
    }
}