#banner {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    width: 100vw;
    height: 90vh;
    padding-top: 12vh;
    justify-content: center;
    background-image: radial-gradient(circle, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../../assets/new-img/robotics/group_blurred.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: none !important;

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.41);
        background-image: radial-gradient(circle, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        border-radius: 50%;
        box-shadow: 0 0 80px 10px rgba(0, 0, 0, 1);
        padding: 5vh;
        height: min-content;
        color: white;

        #bottom {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content:flex-start;
            align-items: flex-start;
            
            h1 {
                font-size: 4vw;
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
                margin-bottom: 2vh;
                opacity: 0;
                animation: txtTransform 0.75s ease-in-out forwards 0.4s;
            }

            h5 {
                font-size: 2vw;
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                margin-bottom: 2vh;
                width: 100%;
                text-align: center;
                opacity: 0;
                animation: txtTransform 1s ease-in-out forwards 0.6s;
            }

            @keyframes txtTransform {
                0% {
                    opacity: 0;
                    transform: translateY(50px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        #top {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: flex-end;
            margin-top: 10vh;

            img {
                width: 15vw;
                height: auto;
                border-radius: 15px;
                animation: imgTransform 1s ease-in-out;
            }

            @keyframes imgTransform {
                0% {
                    opacity: 0;
                    transform: translateY(50px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}