#banner {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    padding-top: 12vh;
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    justify-content: center;

    #container {
        display: flex;
        flex-direction: inherit;
        align-items: center;
        width: 80vw;
        justify-content: space-around;

        #left {
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 45vw;
            height: 90vh;
            justify-content: center;
            align-items: flex-start;
            
            h1 {
                font-size: 4vw;
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
                margin-bottom: 2vh;
            }

            p {
                font-size: 1.5vw;
                font-family: "Montserrat", sans-serif;
                font-weight: 200;
                margin-bottom: 15vh;
            }
        }

        #right {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 90vw;
            justify-content: center;
        }
    }
}