#teams {
    height: max-content;
    padding-top: 12vh;
    padding-bottom: 12vh;
    justify-content: center;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
    width: 100vw;

}