#HeaderMain {
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 1000;
    top: 0;
    left: 0;
    
    #Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;

        #HeaderLogo {
            display: flex;
            align-items: center;
            margin-left: 2vw;
            height: 7.5vh;
            margin-top: 2vh;
            margin-bottom: 2vh;
            cursor: pointer;
        }

        #ButtonContainer {
            display: flex;
            align-items: center;
            margin-right: 2vw;
            height: 7.5vh;
            margin-top: 2vh;
            margin-bottom: 2vh;

            .HeaderButton {
                display: flex;
                align-items: center;
                margin-left: 2vw;
                height: 7.5vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
                cursor: pointer;
                text-decoration: none;
                animation: 

                h1 {
                    color: black;
                    font-size: 1.5em;
                    margin-left: 1vw;
                    margin-right: 1vw;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 100;
                }
            }

            .isHovered {
                text-decoration: underline !important;
                text-underline-offset: 2vh;
                text-decoration-color: rgb(255, 52, 8) !important;
                animation: textAnim1 0.25s ease-in-out forwards;
            }

            @keyframes textAnim1 {
                0% {
                    color: black;
                    text-deco
                }

                100% {
                    color: rgb(255, 52, 8);
                }
            }
        }
    }
}