#HeaderMain {
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 1000;
    top: 0;
    
    #Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5d6872;
    }
}