#Header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ff0000;
    width: 100vw;
    height: auto;
    #HeaderLogo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
    }
}